<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <link rel="stylesheet" href="login.css"> -->
	<link rel="stylesheet" href="../Assets/css/signup.css">
	<title>Login</title>
</head>
<body>
	<h3>Login</h3>
	<div class="image" style="margin-top:350px;padding-bottom:270px;">
		<a class="CTA" href="../Partials/login.php" style="margin-left: 560px;">I Am a Hospital</a>
		<a class="CTA" href="../Partials/login1.php" style="margin-left: 50px;">I Am a Blood Bank</a>
	</div>
</body>
</html>